/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Estilos del Header */
header {
    background: #0078D7;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
}

nav ul {
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    transition: 0.3s;
}

nav ul li a:hover {
    background: white;
    color: #0078D7;
    border-radius: 5px;
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
}

/* Estilos del Main */
main {
    background: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

article h2 {
    color: #0078D7;
    margin-bottom: 10px;
}

/* Estilos del Aside */
aside {
    background: white;
    padding: 15px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos del Footer */
footer {
    background: #0078D7;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

.section-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 1.5rem auto;
    padding: 1.5rem;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    transform: translateZ(0);
    transition: transform 0.3s ease;
}

.section-content:hover {
    transform: scale(1.05) !important;
}